.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.3s;

  @include respond(small-desktop) {
    padding: 2rem 4%;
    background: $color-bg;
  }

  @include respond(tab-land) {
    padding: 2rem 2%;
  }

  &.sticky {
    background: $color-bg;
  }

  a {
    text-decoration: none;
  }

  &__logo {
    font-size: 3rem;
    color: $text-color;
    font-weight: 600;

    & span {
      color: $main-color;
    }
  }

  &__menu-icon,
  #menu-icon {
    font-size: 3.7rem;
    color: $text-color;
    cursor: pointer;
    display: none;

    @include respond(small-tab) {
      display: block;
    }
  }
}
