.navbar {
  @include respond(small-tab) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 4%;
    background: $color-bg;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  a {
    font-size: 2rem;
    color: $text-color;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: all 0.3s;

    @include respond(small-tab) {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
    }

    &:hover,
    &.active {
      color: $main-color;
    }
  }
}
