.navbar {
  position: relative;

  @include respond(small-tab) {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: $main-color;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: 0.25s ease 0.25s;
    z-index: 1;
  }

  &__active {
    left: 0;
    transition-delay: 0s;
  }

  &__active-span {
    position: relative;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: $color-bg;
    z-index: -1;
    transition: 0.25s ease 0s;

    @include respond(big-tab) {
      position: absolute;
    }

    .navbar__active & {
      left: 0;
      transition-delay: 0.25s;
    }
  }

  a {
    font-size: 2rem;
    color: $text-color;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: all 0.3s;

    @include respond(small-tab) {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
    }

    &:hover,
    &.active {
      color: $main-color;
    }
  }
}
